<div class="authenticated-layout">

  <app-sidebar [userRole]="userRole" [class.active]="sidebarVisible" [collapsed]="sidebarCollapsed"
    (collapsedChange)="onSidebarCollapsedChange($event)" (sidebarToggle)="sidebarVisible = $event"></app-sidebar>

  <div class="sidebar-overlay" [class.active]="sidebarVisible" (click)="closeSidebar()"></div>

  <div class="main-content" [class.sidebar-collapsed]="sidebarCollapsed">
    <app-header></app-header>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <button class="sidebar-toggle" *ngIf="!sidebarVisible" (click)="toggleSidebar()">
    <i class="material-icons">menu</i>
  </button>
</div>
