<button class="boton" [class.primary]="tipo === 'primary'" [class.secondary]="tipo === 'secondary'"
  [class.success]="tipo === 'success'" [class.danger]="tipo === 'danger'" [class.warning]="tipo === 'warning'"
  [class.info]="tipo === 'info'" [class.light]="tipo === 'light'" [class.dark]="tipo === 'dark'"
  [class.link]="tipo === 'link'" [class.gym]="tipo === 'gym'" [class.google]="tipo === 'google'"
  [class.small]="size === 'small'" [class.medium]="size === 'medium'" [class.large]="size === 'large'"
  [class.full-width]="fullWidth" [class.pulse]="tipo === 'gym'" (click)="onButtonClick()"
  [disabled]="disabled || isLoading">
  <div class="button-content">
    <img *ngIf="imagen && !isLoading" [src]="imagen" [alt]="texto">
    <i *ngIf="icono && !isLoading && !imagen" class="material-icons">{{icono}}</i>
    <span *ngIf="!isLoading">{{texto}}</span>
    <span *ngIf="isLoading" class="spinner"></span>
  </div>
</button>
