<button class="boton" [class.primary]="tipo === 'primary'" [class.secondary]="tipo === 'secondary'"
  [class.success]="tipo === 'success'" [class.danger]="tipo === 'danger'" [class.warning]="tipo === 'warning'"
  [class.info]="tipo === 'info'" [class.light]="tipo === 'light'" [class.dark]="tipo === 'dark'"
  [class.link]="tipo === 'link'" [class.small]="size === 'small'" [class.medium]="size === 'medium'"
  [class.large]="size === 'large'" [class.full-width]="fullWidth" (click)="onButtonClick()" [disabled]="disabled">
  <i *ngIf="icono" class="material-icons">{{icono}}</i>
  <span>{{texto}}</span>
</button>