<div class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-header">
    <h2 *ngIf="!collapsed">POWERGYMFIT</h2>
    <h2 *ngIf="collapsed" class="logo-small">P</h2>
    <div class="toggle-button" (click)="toggleCollapsed()">
      <i class="material-icons">{{collapsed ? 'chevron_right' : 'chevron_left'}}</i>
    </div>
    <div class="sidebar-close" (click)="closeSidebar()">
      <i class="material-icons">close</i>
    </div>
  </div>

  <div class="user-info">
    <div class="avatar">
      <i class="material-icons">account_circle</i>
    </div>
    <span class="role-badge" *ngIf="!collapsed">{{userRole | titlecase}}</span>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li *ngFor="let item of filteredMenuItems" [routerLinkActive]="['active']" [class.has-submenu]="item.submenu">
        <!-- Item con submenú -->
        <a *ngIf="item.submenu" (click)="toggleSubmenu(item); expandSidebar()" [class.active]="item.expanded">
          <i class="material-icons">{{item.icon}}</i>
          <span *ngIf="!collapsed">{{item.title}}</span>
          <i *ngIf="!collapsed" class="material-icons submenu-icon" [class.expanded]="item.expanded">expand_more</i>
        </a>

        <!-- Item sin submenú -->
        <a *ngIf="!item.submenu && item.route" [routerLink]="item.route" (click)="closeSidebarOnNavigate()">
          <i class="material-icons">{{item.icon}}</i>
          <span *ngIf="!collapsed">{{item.title}}</span>
        </a>

        <!-- Submenús -->
        <ul *ngIf="item.submenu" class="submenu" [class.expanded]="item.expanded">
          <li *ngFor="let subItem of item.submenu" [routerLinkActive]="['active']">
            <a [routerLink]="subItem.route" (click)="closeSidebarOnNavigate()">
              <i class="material-icons">{{subItem.icon}}</i>
              <span *ngIf="!collapsed">{{subItem.title}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="sidebar-footer">
    <a (click)="logout()" style="cursor: pointer;">
      <i class="material-icons">exit_to_app</i>
      <span *ngIf="!collapsed">Cerrar Sesión</span>
    </a>
  </div>
</div>
